<sb-layout-blog></sb-layout-blog>
<div>
    <sb-clean-blog-header backgroundImage='url("assets/img/about-bg.jpg")' heading="About Web 📚" [siteHeading]="true" subHeading="ระบบจัดการหนังสือและบันทึกการอ่านช่วยให้ผู้ใช้เก็บข้อมูลหนังสือ ติดตามความก้าวหน้าในการอ่าน 📖✨"></sb-clean-blog-header>
    <h2>การจัดเก็บข้อมูลหนังสือ</h2>
    <p>ในปัจจุบัน ผู้ที่รักการอ่านหนังสือมักมีปัญหาในการจัดเก็บและบริหารจัดการข้อมูลหนังสือของตนเอง ไม่ว่าจะเป็นหนังสือที่เคยอ่าน หนังสือที่กำลังอ่าน หรือหนังสือที่ต้องการอ่านในอนาคต ระบบนี้ช่วยให้ผู้ใช้สามารถเพิ่มหนังสือเข้าสู่ฐานข้อมูลของตนเอง พร้อมกับระบุข้อมูลที่เกี่ยวข้อง เช่น ชื่อหนังสือ ผู้แต่ง สำนักพิมพ์ ปีที่พิมพ์ หมวดหมู่ จำนวนหน้า และจำนวนบท ซึ่งทำให้สามารถเรียกดูข้อมูลได้อย่างเป็นระเบียบและง่ายดาย</p>
</div>

<div>
    <h2>การติดตามความก้าวหน้าในการอ่าน</h2>
    <p>การบันทึกการอ่านและการเพิ่มโน้ตทำให้ผู้ใช้สามารถติดตามความก้าวหน้าในการอ่านแต่ละเล่มได้ และสามารถทบทวนสิ่งที่ได้เรียนรู้จากการอ่าน</p>
</div>

<div>
    <h2>การแชร์บทความ</h2>
    <p>เว็บไซต์ของเรามีฟีเจอร์การแชร์บทความที่ช่วยให้ผู้ใช้สามารถเผยแพร่ความคิดเห็นหรือรีวิวหนังสือที่ตนเองเขียนสู่สาธารณะได้ง่ายๆ โดยบทความที่ถูกแชร์จะสามารถเข้าถึงและอ่านได้โดยคนอื่น ๆ ในชุมชน ช่วยสร้างพื้นที่ในการแลกเปลี่ยนความคิดและประสบการณ์การอ่านหนังสือระหว่างผู้ใช้ พร้อมทั้งสร้างแรงบันดาลใจให้กับผู้อ่านคนอื่น ๆ ในการเลือกหนังสือและการพัฒนาทักษะการอ่าน</p>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://x.com/nafi3341" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "twitter"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://web.facebook.com/Hanafeeyusoh.hanafee?locale=th_TH" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "facebook-f"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Hanafee18" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "github"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                </ul>
                <p class="copyright text-muted">เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา การโปรแกรมบนเว็บ</p>
                <p class="copyright text-muted">นาย ฮานาฟี ยูโซ๊ะ 166404140049</p>
            </div>
        </div>
    </div>
</footer>